.DivOne{
    text-align: center;
    width: 100%;
  
    background-color: #F4F4F4;
    padding: 10% 10%;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box;
}
.beinggeeky{
    

}
